<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b8991598b2.js"></script> <!-- fontawesome.com -->
    {% block title %}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Find.ua</title>
        {% endif %}
    {% endblock %}
    {% block css_additional %} {% endblock %}
</head>
<body>
    <div class="wrapper">
        <div class="content">
           <header class="p-3 text-bg-dark">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
                  <h1 class="company-title">FIND.UA</h1>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/" class="nav-link px-2 text-secondary">Головна</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">Про нас</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">Знайти вакансії</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">Розмістити вакансії</a></li>
                </ul>
                <div class="search-box">
                    <input class="search-txt" type="text" name="" placeholder="Пошук вакансій">
                    <a class="search-btn" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>

                <div class="text-end">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Ввійти</a>
                        <a href="{% url 'register' %}" class="btn btn-warning">Приєднатись</a>
                    {% else %}
                        <a href="{% url 'logout' %}" class="btn btn-outline-light me-2">Вийти</a>
                        <!--<a type="button" class="btn btn-primary" href="{% url 'jobseeker_profile' user.login %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                            </svg>
                        </a> -->

                    <a class='btn btn-outline-light' href="{% url 'jobseeker_profile' user.login %}">{{ user.login }}</a>
                    {% endif %}
                </div>
              </>
            </div>
          </header>
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Головна</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Про нас</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Знайти вакансії</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Розмістити вакансії</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Роботодавцю</a></li>
            </ul>
    <p class="text-center text-muted">© 2022 Company, Inc</p>
  </footer>
    </div>
    </div>
</body>
</html>