{% extends 'main_page/base.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'main_page/css/main_page.css' %}">
{% endblock %}


{% block body %}
    <div class="container">
        <ul class="list-inline menu-my-img add-top">
        <li class="i-by-category">
            <a href="/jobs/by-category/">Вакансії за&nbsp;категоріями</a>
        </li>
        <li class="i-by-region">
            <a href="/jobs/by-region/">Вакансії за&nbsp;містами</a>
        </li>
        <li class="i-students">
            <a href="/jobs/students/">Робота для&nbsp;студентів</a>
        </li>
        <li class="i-by-company visible-xs-block">
            <a href="/jobs/by-company/">Вакансії за&nbsp;компаніями</a>
        </li>
    </ul>
    </div>
{% endblock %}