* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #EBEBEB;
}


/* SEARCH-BOX */
.search-box {
    position: absolute; /* Задання контейнеру із полем для пошуку плаваючу позицію */
    top: 0%;
    left: 65%;
    transform: translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

/* BUTTON FOR SEARCH */
.search-btn {
    color: $1da1f3;
    float: right;;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    margin-top: -10px;
}

/* COMPANY LOGO */
.company-title {
    margin-left: -80px;
    margin-right: 30px;
    font-family: Helvetica;
    font-size: 30px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
}

/* INPUT FIELD FORM */
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
    transition: 0.4s;
}


/* FOOTER */
.wrapper {
    height: 100%
}

.content {
    box-sizing: border-box;
    min-height: 78%;
    padding-bottom: 90px;
}

.py-3 {
    height: 80px;
    margin-top: -80px;
}

/* MAIN CONTENT */
main {
    max-width: 1500px;
    background-color: #CACACA;
    min-height: 220px;
    margin-top: 0px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
}

main h1 {
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 45px;
}

.lead {
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
}

/* INPUT FIELD FOR VACANCY SEARCH */
#search {
    width: 600px;
    border-radius: 2px;
    height: 42px;
}
#city-search {
    margin-left: 10px;
    height: 42px;
    width: 400px;
    border-radius: 2px;
}

/* SEARCH BUTTON FOR VACANCY */
#sm-but {
    max-width: 140px;
    height: 42px;
    margin-left: 10px;
    font-size: 15px;
    font-family: Helvetica;
    border-radius: 2px;
    background-color: #C74646;
    border: none;
    font-weight: bold;
}

.form-group {
    margin-left: 50px;
}

/* EXAMPLE TEXT UNDER INPUT FIELD */
#example {
    color: #FFF7F7;
    font-size: 16px;
}

#example em {
    text-decoration: underline;
}

.input-holder {
    float: left;
}

/* VACANCY CATEGORY LIST */
.list-inline {
    margin-top: 10px;
    display: flex;
    align-items: center
    min-height: 120px;
    background-color: white;
    max-width: 1000px;
    margin-left: 110px;
}

.list-inline li {
    vertical-align: middle;
    text-decoration: none;
    background: #F2F2F2;
    margin: 5px;
    width: 250px;
    text-align: center;
    height: 80px;
    float: left;
    border: 2px solid #E9E9E9;
    margin-left: 0px;
    margin-right: 0px;
}

.list-inline a {
    text-decoration: none;
    line-height: 0px;
}

/* CARD REZUME */
.card{
    height: 100px;
    max-width: 1000px;
    margin-top: 30px;
    margin-left: 110px;
    border-radius: 0px;
    display: grid;
}

h2 {
    font-family: Helvetica;
    font-weight: bold;
    padding: 5px;
}

.text-default {
    padding: 5px;
    font-family: Helvetica;
}

.col-sm-4 a{
    background: #1DA601;
    border: none;
    margin-top: 30px;
    font-family: sans-serif;
}

.profile-link {
    text-decoration: none;
    font-family: 'Rubik';
    color: white;
    min-height: 100px;
    margin-top: 5px;
}

.profile-link:hover{
    color: black
}
