{% extends 'main_page/base.html' %}

{% load static %}
{% block css_additional %}
  <link rel="stylesheet" href="{% static 'codes/css/code_verify.css' %}">
{% endblock %}

{% block body %}
  {% include 'jobseeker/_include/flash-messages.html' with messages=messages %}
  <div class="container">
    <center><form method="post" id="verification-form">
      {% csrf_token %}
      <center>
        <h1 id="form-title" title="Верифікація номеру телефону">
          Верифікація мобільного
        </h1>
      </center>
      {% for field in form %}
        <div class="group">
          <span class="form-label">
            <label class="verification-form-label">{{ field.label }}</label>
          </span>
          {{ field }}
        </div>
      {% endfor %}
      <div class="group">
        <center><button id="verify-submit">Підтвердити</center>
      </div>
    </form></center>
  </div>
{% endblock %}