{% extends 'main_page/base.html' %}

{% load static %}
{% block css_additional %}
  <link rel="stylesheet" href="{% static 'codes/css/code_verify.css' %}">
{% endblock %}

{% block body %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags != 'error' %}
        <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">
          {{ message }}
        </div>
      {% else %}
        <div class="alert alert-danger m-2" id="danger-msg" role="alert">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div class="container">
    <center><form method="post" id="verification-form">
      {% csrf_token %}
      <center>
        <h1 id="form-title" title="Верифікація номеру телефону">
          Верифікація мобільного
        </h1>
      </center>
      {% for field in form %}
        <div class="group">
          <span class="form-label">
            <label class="verification-form-label">{{ field.label }}</label>
          </span>
          {{ field }}
        </div>
      {% endfor %}
      <div class="group">
        <center><button id="verify-submit">Підтвердити</center>
      </div>
    </form></center>
  </div>
{% endblock %}