{% extends 'main_page/base.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'jobseeker/css/jobseeker_profile.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hello, {{ full_name }}</h1>
        {% if list_first_error %}
            <div class="form-error">{{ list_first_error|escape }}</div>
        {% endif %}
        {% if messages %}
            {% include 'jobseeker/_include/flash_messages.html' with messages=messages %}
        {% endif %}
        <form method="post" id="add-jobseeker-info-form" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="group">
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="group">
                <center>
                    <button id="add-information" class="btn btn-secondary">
                        Додати дані
                    </button>
                </center>
            </div>
        </form>
    </div>
{% endblock %}