{% extends 'main_page/base.html' %}


{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'jobseeker/css/jobseeker_login.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        {% if list_first_error %}
            <div class="form-error">{{ list_first_error|escape }}</div>
        {% endif %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}></li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            <center><h1 id="form-login-title" title="Авторизуйтесь для подальшого пошуку роботи">
                Авторизація
            </h1></center>
            {% csrf_token %}
            {% for field in form %}
            <div class="group">
                {{ field.label }}
                {{ field }}
            </div>
            {% endfor %}
            <div class="group">
                <center><button id="login-submit">Авторизація</button></center>
            </div>
        </form>
    </div>
{% endblock %}

