{% extends 'main_page/base.html' %}


{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'jobseeker/css/jobseeker_login.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        {% if list_first_error %}
            <div class="form-error">{{ list_first_error|escape }}</div>
        {% endif %}
        {% include 'jobseeker/_include/flash-messages.html' with messages=messages %}
        <center><form method="post" id="login-form">
            <center><h1 id="form-login-title" title="Авторизуйтесь для подальшого пошуку роботи">
                Авторизація
            </h1></center>
            {% csrf_token %}
            {% for field in form %}
            <div class="group">
                {{ field.label }}
                {{ field }}
            </div>
            {% endfor %}
            <div class="group">
                <center><button id="login-submit" class="btn btn-secondary">Авторизація</button></center>
            </div>
            <div class="group">
                <small><a href="{% url 'register' %}">Зареєструватись</a></small>
            </div>
        </form></center>
    </div>
{% endblock %}

