{% extends 'main_page/base.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'jobseeker/css/jobseeker_register.css'%}">
{% endblock %}

{% block body %}
    <div class="container">
        {% if list_first_error %}
            <div class="form-error">{{ list_first_error|escape }}</div>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags != 'error' %}
                    <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger m-2" id="danger-msg" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form method="post" id="jobseeker-register">
            <center><h1 id="form-title" title="Зареєструйтесь для подальшого розміщення вакансій">
                Реєстрація пошукачів
            </h1></center>
            {% csrf_token %}
            {% for field in form %}
            <div class="group">
                {{ field.label }}
                {{ field }}
            </div>
            {% endfor %}
            <div class="group">
                <center><button id="register-submit">Реєстрація</button></center>
            </div>
        </form>
    </div>
{% endblock %}