{% extends 'main_page/base.html' %}

{% load static %}
{% block css_additional %}
  <link rel="stylesheet" href="{% static 'jobseeker/css/jobseeker_logout.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Розавторизація</h4>
      <hr>
      <p>Чудово!Ви успішно вийшли зі свого профілю.Щоб ввійти ще раз <a href="{% url 'login' %}">Авторизyйтесь</a>
      Або поверніться на <a href="{% url 'index_page' %}">головну сторінку</a></p>
    </div>
  </div>
{% endblock %}