{% extends 'main_page/base.html' %}

{% load static %}
{% block js_additional %}
    <script src="{% static 'personal_profile/js/main.js' %}" defer></script>
{% endblock %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'personal_profile/css/jobseeker_profile.css' %}">
{% endblock %}

{% block body %}
    <h1 id="profile-title">Мій акаунт</h1>
    <div class="pre-form-title-wrapper">
        <p class="pre-form-title">Ваші персональні дані побачать лише ті, кому ви відкриєте доступ</p>
    </div>
    <a href="{% url 'work-criteria' jobseeker.login %}">Профіль</a>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags != 'error' %}
            <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">
                {{ message }}
            </div>
            {% else %}
                <div class="alert alert-danger" id="danger-msg" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form method="post" id="add-jobseeker-info-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
                {% for field in first_form %}
                <div class="group">
                    <div class="column">
                        {% if field.label == 'Прикріпіть ваш файл з резюме: ' %}
                            <label class="file-input">{{ field.label }}</label>
                        {% else %}
                            <label class="form-label">{{ field.label }}</label>
                        {% endif %}
                    </div>
                    <div class="column">
                        {% if jobseeker_profile.cv_file and field.label == 'Прикріпіть ваш файл з резюме: ' %}
                            <a id='file-info' href="{{ jobseeker_profile.cv_file.url }}"><!--{{ jobseeker_profile.base_cv }}-->
                                {{ jobseeker_profile.base_cv }}
                            </a>
                            <a href="{% url 'delete_file' jobseeker_profile.pk %}" class="file-delete">x</a>
                            {{ field }}
                            <small class="file-notices">.docx, .pdf</small>
                            <small class="file-notices">Максимальний розмір - 1,5МБ</small>

                        {% else %}
                            {{ field }}
                        {% endif %}
                    </div>
                    {% if field.label == 'LinkedIn: ' %}
                        <p class="small-help-text">
                            <small class="linkedin-field-small">
                                На приклад,
                                <a href="https://www.linkedin.com/in/dproc/" target="_blank">
                                    https://www.linkedin.com/in/dproc/
                                </a>
                            </small>
                        </p>
                    {% endif %}
                </div>
                <div class="form-error">
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div class="group">
                    <center>
                        <button id="add-information" class="btn btn-secondary" name="add-information">
                            Додати дані
                        </button>
                    </center>
                </div>
        </div>
    </form>
    <div class="image">
        {% if not jobseeker_profile.photo or image %}
            <img src="../../static/personal_profile/images/default_avatar.png" id="avatar-image" class="" alt="...">
        {% else %}
            <img src="{{ jobseeker_profile.photo.url }}" class="avatar-image" alt="...">
        {% endif %}
    </div>
    <form method="post" enctype="multipart/form-data" id="user-avatar"
          action="{% url 'image-form' jobseeker.login %}">
        {% csrf_token %}
        {% for field in second_form %}
            <div class="group">
                <label class="photo-field">Завантажити нове фото</label><br>
                <input type="file" class="photo-input" name="add-photo">
                <br>
                <small class="file-notices" id="extensions">
                    *.jpeg, *.jpg, *.png
                </small>
                <br>
                <small class="file-notices" id="filesize">
                    Максимальний розмір - 1,5МБ
                </small>
            </div>
            <div class="group">
                <center>
                    <button id="add-image" class="btn btn-secondary" name="add-image">
                        Додати фото
                    </button>
                </center>
            </div>
        {% endfor %}
    </form>
        <div class="remind-password-link">
            <a href="{% url 'remind_password' jobseeker.login %}">Змінити пароль</a>
        </div>
    {% comment %}
        <div class="remind-password-link-disabled">
            <a href="#">Змінити пароль</a>
        </div>
    {% endcomment %}
{% endblock %}