* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background-color: #EBEBEB;*/
}


/* SEARCH-BOX */
.search-box {
    position: absolute; /* Задання контейнеру із полем для пошуку плаваючу позицію */
    top: 0%;
    left: 65%;
    transform: translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

/* BUTTON FOR SEARCH */
.search-btn {
    color: $1da1f3;
    float: right;;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    margin-top: -10px;
}

/* COMPANY LOGO */
.company-title {
    margin-left: -80px;
    margin-right: 30px;
    font-family: Helvetica;
    font-size: 30px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
}

/* INPUT FIELD FORM */
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
    transition: 0.4s;
}


/* FOOTER */
.wrapper {
    height: 100%
}

.content {
    box-sizing: border-box;
    min-height: 75%;
    padding-bottom: 90px;
}

/* PRE-FORM TEXT */
.pre-form-title {
    font-family: 'Rubik';
    border-bottom: 1.4px solid #ECECEC;
}


/* FORM */
#add-jobseeker-info-form {
    float: left;
    width: 50%;
    max-width: 850px;
    margin-left: 10px;
    margin-top: 30px;
    font-family: 'Rubik';
}

#profile-title {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 35px;
}


/* LABELS AND INPUTS POSITION */

.form-label .file-input .cv_file {
    font-family: 'Rubik';
}

.column {
    float:left;
    width: 35%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.group {
    margin-top: 15px;
    padding: 5px;
}

#add-jobseeker-info-form input {
    /*max-width: 450px;*/
    width: 420px;
    margin-left: 30px;
}


/* FORM-BUTTON */
#add-information {
    background: blue;
    color: white;
    border: none;
    height: 50px;
    font-style: 'Rubik';
    font-size: 20px;
    padding: 5px;
    margin-left: 50px;
    width: 200px;
}

#add-information:hover {
    opacity: 0.70;
}

/* HELP TEXT UNDER THE FIELD */
.small-help-text {
    display: inline-block;
    margin-left: 265px;
    /*max-width: 300px;*/
    margin-right: 20px;
    font-family: 'Rubik';
    margin-bottom: -10px;
    color: #BFBFBF;
}

.small-help-text a{
    text-decoration: none;
}

/*
    FORM FOR USER-PHOTO DOWNLOAD
*/

#user-avatar {
    float: right;
    margin-top: 40px;
    font-family: 'Rubik';
    margin-right: 15px;
}

footer {
    clear: both;
    margin-top: 70px;
}

/*
    USER IMAGE
*/


#avatar-image {
    margin-top: 40px;
    margin-bottom: -20px;
    max-weight: 200px;
    max-height: 200px;
    margin-left: 170px;
    clip-path: circle();
}

#user-avatar input::file-selector-button {
    background: blue;
    border: none;
    color: white;
    padding: 0.7rem;
    font-family: 'Rubik';
    border-radius: 5px;
    font-size: 18px;
}

/*
    FORM ERRORS
*/

.errorlist {
    list-style-type: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -35px;
}

.form-error {
    margin-left: 270px;
    max-width: 420px;
    background: #C00000;
    padding-bottom: 0px;
    border-radius: 10px 10px;
}

/*
    FILENAME STRING
*/

#file-info {
    text-decoration: none;
    margin-left: 30px;
}

.cv_file::file-selector-button{
    border: none;
    background: blue;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
}

/*
    FIELDS NOTICES
*/

.file-notices {
    margin-left: 30px;
    min-width: 500px;
    color: #BFBFBF;
    margin-top: -10px;
}

/*
    DELETE FILE BUTTON
*/

.file-delete {
    text-decoration: none;
    margin-left: 370px;
    color: #BFBFBF;
    font-size: 18px;

}


.avatar-image {
    margin-top: 40px;
    margin-bottom: -20px;
    max-weight: 200px;
    max-height: 200px;
    margin-left: 200px;
    clip-path: circle();
}

/*
    IMAGE NOTICES
*/
#extensions {
    margin-left: 0;
}

#filesize {
    margin-left: 0;
}

/*
    IMAGE SAVE BUTTON
*/

#add-image {
    background: blue;
    border: none;
    padding: 5px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-top: -20px;
    margin-left: -150px;
}

#add-image:hover {
    opacity: 0.70;
}

