{% extends 'main_page/base.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'password/css/change_password.css' %}">
{% endblock %}

{% block body %}
    {% if not wrong_token %}
        {% if password_save %}
            <div class="alert alert-success d-flex" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    Ваш пароль успішно змінено
                </div>
            </div>
        {% endif %}
        <form method="post" id="change-password-form">
            <center><h1 class="form-title">Зміна паролю</h1></center>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" id="change-password-button">Підтвердити</button>
        </form>
    {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Помилка!</strong> недійсний JWT-token.
            <p>Поверніться на сторінку введення <a href="{% url 'remind_password' login %}"></a>
            Email і повторіть операцію ще раз</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}